<div class="page">
  @if (isLoading) {
  <app-spinner></app-spinner>
  } @else if (notFound) {
  <app-profile-not-found [username]="username"></app-profile-not-found>
  } @else if (user) {
  <main class="main">
    <div class="container">
      <div class="mainContent">
        <mat-tab-group class="tabs">
          <mat-tab label="README">
            <app-profile-readme [userId]="user.id"></app-profile-readme>
          </mat-tab>
          <mat-tab label="Posts">
            <app-profile-block [username]="user.username"></app-profile-block>
          </mat-tab>
        </mat-tab-group>
      </div>

      <app-profile-card
        class="sidebar"
        [username]="username"
        [user]="user"
        [isDialog]="false"
      ></app-profile-card>
    </div>
  </main>
  }
</div>
