.auth-layout {
  background-image: url('/assets/images/auth-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#auth-card {
  padding: 1rem;
  margin-top: 3rem;
  min-width: 28rem;
}
