.page {
  // padding-top: 50px;
  min-height: 100vh;
  background-color: var(--mat-sys-background);
  color: var(--mat-sys-on-background);
}

.main {
  padding: 0 var(--spacing-xl) var(--spacing-xl);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 var(--spacing-lg);
}

.feedHeader {
  margin-bottom: var(--spacing-2xl);
  text-align: center;
}

.feedTitle {
  font-size: 2.5rem;
  font-weight: 700;
  // color: var(--text-dark);
  margin-bottom: var(--spacing-sm);
}

.feedSubtitle {
  font-size: 1.125rem;
  color: var(--text-dark-secondary);
}
