<!-- <div class="flex min-h-screen">
  <aside class="w-64 bg-gray-800 text-white p-4">
    <nav>
      <a routerLink="/admin/dashboard" class="block py-2 hover:bg-gray-700">Dashboard</a>
      <a routerLink="/admin/users" class="block py-2 hover:bg-gray-700">Users</a>
      <a routerLink="/admin/posts" class="block py-2 hover:bg-gray-700">Posts</a>
      <a routerLink="/admin/reports" class="block py-2 hover:bg-gray-700">Reports</a>
    </nav>
  </aside>
  <section class="flex-1 p-6 bg-gray-100">
    <router-outlet></router-outlet>
  </section>
</div> -->

<app-header></app-header>

<main>
  <router-outlet></router-outlet>
</main>
