<mat-toolbar
  color="surface"
  class="position-absolute d-flex justify-content-between align-items-center p-3 shadow-sm w-100"
>
  <app-header-logo></app-header-logo>

  <nav class="d-flex align-items-center gap-3 flex-wrap">
    <a mat-button routerLink="/feed" routerLinkActive="mat-primary" class="text-decoration-none">
      Feed
    </a>
    <a
      mat-button
      routerLink="/profile/me"
      routerLinkActive="mat-primary"
      class="text-decoration-none"
    >
      My Block
    </a>
    <app-switch-mode></app-switch-mode>
  </nav>
</mat-toolbar>
