.google-btn {
  background-color: #4285f4;
}

.google-btn:hover {
  background-color: #3367d6;
}

.google-btn img {
  width: 20px;
  height: 20px;
}

mat-card-title {
  font-weight: 500;
}

@media (max-width: 576px) {
  mat-card-title {
    font-size: 1.2rem;
  }

  .google-btn {
    font-size: 0.9rem;
  }
}
